.g740-icons-default {
	background-image: url('dark/default.png');
}
.g740-whiteicons .g740-icons-default {
	background-image: url('white/default.png');
}

.g740-icons-save {
	background-image: url('dark/save.png');
}
.g740-whiteicons .g740-icons-save {
	background-image: url('white/save.png');
}

.g740-icons-undo {
	background-image: url('dark/undo.png');
}
.g740-whiteicons .g740-icons-undo {
	background-image: url('white/undo.png');
}

.g740-icons-refresh {
	background-image: url('dark/refresh.png');
}
.g740-whiteicons .g740-icons-refresh {
	background-image: url('white/refresh.png');
}

.g740-icons-refreshrow {
	background-image: url('dark/refreshrow.png');
}
.g740-whiteicons .g740-icons-refreshrow {
	background-image: url('white/refreshrow.png');
}

.g740-icons-append {
	background-image: url('dark/append.png');
}
.g740-whiteicons .g740-icons-append {
	background-image: url('white/append.png');
}

.g740-icons-append-into {
	background-image: url('dark/append-into.png');
}
.g740-whiteicons .g740-icons-append-into {
	background-image: url('white/append-into.png');
}

.g740-icons-delete {
	background-image: url('dark/delete.png');
}
.g740-whiteicons .g740-icons-delete {
	background-image: url('white/delete.png');
}

.g740-icons-join {
	background-image: url('dark/join.png');
}
.g740-whiteicons .g740-icons-join {
	background-image: url('white/join.png');
}

.g740-icons-expand {
	background-image: url('dark/expand.png');
}
.g740-whiteicons .g740-icons-expand {
	background-image: url('white/expand.png');
}

.g740-icons-collapse {
	background-image: url('dark/collapse.png');
}
.g740-whiteicons .g740-icons-collapse {
	background-image: url('white/collapse.png');
}

.g740-icons-mark {
	background-image: url('dark/mark.png');
}
.g740-whiteicons .g740-icons-mark {
	background-image: url('white/mark.png');
}

.g740-icons-unmarkall {
	background-image: url('dark/unmarkall.png');
}
.g740-whiteicons .g740-icons-unmarkall {
	background-image: url('white/unmarkall.png');
}

.g740-icons-move {
	background-image: url('dark/move-into.png');
}
.g740-whiteicons .g740-icons-move {
	background-image: url('white/move-into.png');
}

.g740-icons-copy {
	background-image: url('dark/copy.png');
}
.g740-whiteicons .g740-icons-copy {
	background-image: url('white/copy.png');
}

.g740-icons-link {
	background-image: url('dark/link-into.png');
}
.g740-whiteicons .g740-icons-link {
	background-image: url('white/link-into.png');
}

.g740-icons-httpget {
	background-image: url('dark/httpget.png');
}
.g740-whiteicons .g740-icons-httpget {
	background-image: url('white/httpget.png');
}

.g740-icons-httpput {
	background-image: url('dark/httpput.png');
}
.g740-whiteicons .g740-icons-httpput {
	background-image: url('white/httpput.png');
}

.g740-icons-shift-after {
	background-image: url('dark/shift-after.png');
}
.g740-whiteicons .g740-icons-shift-after {
	background-image: url('white/shift-after.png');
}

.g740-icons-shift-before {
	background-image: url('dark/shift-before.png');
}
.g740-whiteicons .g740-icons-shift-before {
	background-image: url('white/shift-before.png');
}

.g740-icons-shift-last {
	background-image: url('dark/shift-last.png');
}
.g740-whiteicons .g740-icons-shift-last {
	background-image: url('white/shift-last.png');
}

.g740-icons-shift-first {
	background-image: url('dark/shift-first.png');
}
.g740-whiteicons .g740-icons-shift-first {
	background-image: url('white/shift-first.png');
}

.g740-icons-find {
	background-image: url('dark/find.png');
}
.g740-whiteicons .g740-icons-find {
	background-image: url('white/find.png');
}

.g740-icons-word {
	background-image: url('dark/word.png');
}
.g740-whiteicons .g740-icons-word {
	background-image: url('white/word.png');
}

.g740-icons-excel {
	background-image: url('dark/excel.png');
}
.g740-whiteicons .g740-icons-excel {
	background-image: url('white/excel.png');
}

.g740-icons-print {
	background-image: url('dark/print.png');
}
.g740-whiteicons .g740-icons-print {
	background-image: url('white/print.png');
}

.g740-icons-disconnect {
	background-image: url('dark/disconnect.png');
}
.g740-whiteicons .g740-icons-disconnect {
	background-image: url('white/disconnect.png');
}

.g740-icons-table {
	background-image: url('dark/table.png');
}
.g740-whiteicons .g740-icons-table {
	background-image: url('white/table.png');
}

.g740-icons-config {
	background-image: url('dark/config.png');
}
.g740-whiteicons .g740-icons-config {
	background-image: url('white/config.png');
}

.g740-icons-computer {
	background-image: url('dark/computer.png');
}
.g740-whiteicons .g740-icons-computer {
	background-image: url('white/computer.png');
}

.g740-icons-database {
	background-image: url('dark/database.png');
}
.g740-whiteicons .g740-icons-database {
	background-image: url('white/database.png');
}

.g740-icons-backup {
	background-image: url('dark/backup.png');
}
.g740-whiteicons .g740-icons-backup {
	background-image: url('white/backup.png');
}

.g740-icons-restore {
	background-image: url('dark/restore.png');
}
.g740-whiteicons .g740-icons-restore {
	background-image: url('white/restore.png');
}

.g740-icons-email {
	background-image: url('dark/email.png');
}
.g740-whiteicons .g740-icons-email {
	background-image: url('white/email.png');
}

.g740-icons-folder {
	background-image: url('dark/folder.png');
}
.g740-whiteicons .g740-icons-folder {
	background-image: url('white/folder.png');
}

.g740-icons-user {
	background-image: url('dark/user.png');
}
.g740-whiteicons .g740-icons-user {
	background-image: url('white/user.png');
}

.g740-icons-userrole {
	background-image: url('dark/userrole.png');
}
.g740-whiteicons .g740-icons-userrole {
	background-image: url('white/userrole.png');
}

.g740-icons-usergroup {
	background-image: url('dark/usergroup.png');
}
.g740-whiteicons .g740-icons-usergroup {
	background-image: url('white/usergroup.png');
}

.g740-icons-page {
	background-image: url('dark/page.png');
}
.g740-whiteicons .g740-icons-page {
	background-image: url('white/page.png');
}

.g740-icons-dbtable {
	background-image: url('dark/dbtable.png');
}
.g740-whiteicons .g740-icons-dbtable {
	background-image: url('white/dbtable.png');
}

.g740-icons-dbfield {
	background-image: url('dark/dbfield.png');
}
.g740-whiteicons .g740-icons-dbfield {
	background-image: url('white/dbfield.png');
}

.g740-icons-help {
	background-image: url('dark/help.png');
}
.g740-whiteicons .g740-icons-help {
	background-image: url('white/help.png');
}

.g740-icons-ok {
	background-image: url('dark/ok.png');
}
.g740-whiteicons .g740-icons-ok {
	background-image: url('white/ok.png');
}

.g740-icons-cancel {
	background-image: url('dark/cancel.png');
}
.g740-whiteicons .g740-icons-cancel {
	background-image: url('white/cancel.png');
}

.g740-icons-go {
	background-image: url('dark/go.png');
}
.g740-whiteicons .g740-icons-go {
	background-image: url('white/go.png');
}

.g740-icons-menu {
	background-image: url('dark/menu.png');
}
.g740-whiteicons .g740-icons-menu {
	background-image: url('white/menu.png');
}

.g740-icons-clipboard-copy {
	background-image: url('dark/clipboard-copy.png');
}
.g740-whiteicons .g740-icons-clipboard-copy {
	background-image: url('white/clipboard-copy.png');
}

.g740-icons-clipboard-cut {
	background-image: url('dark/clipboard-cut.png');
}
.g740-whiteicons .g740-icons-clipboard-cut {
	background-image: url('white/clipboard-cut.png');
}

.g740-icons-clipboard-paste {
	background-image: url('dark/clipboard-paste.png');
}
.g740-whiteicons .g740-icons-clipboard-paste {
	background-image: url('white/clipboard-paste.png');
}

.g740-icons-check-on {
	background-image: url('dark/check-on.png');
}
.g740-whiteicons .g740-icons-check-on {
	background-image: url('white/check-on.png');
}

.g740-icons-check-off {
	background-image: url('dark/check-off.png');
}
.g740-whiteicons .g740-icons-check-off {
	background-image: url('white/check-off.png');
}

.g740-icons-login-128  {
	background-image: url('dialog/login-128.png');
	width: 128px;
	height: 128px;
}
.g740-icons-error-128  {
	background-image: url('dialog/error-128.png');
	width: 128px;
	height: 128px;
}
.g740-icons-alert-128  {
	background-image: url('dialog/alert-128.png');
	width: 128px;
	height: 128px;
}
.g740-icons-question-128  {
	background-image: url('dialog/question-128.png');
	width: 128px;
	height: 128px;
}