.g740-icons-default {
	background-image: url('default.png');
	width: 16px;
	height: 16px;
}
.g740-icons-save {
	background-image: url('save.png');
	width: 16px;
	height: 16px;
}
.g740-icons-undo {
	background-image: url('undo.png');
	width: 16px;
	height: 16px;
}
.g740-icons-refresh {
	background-image: url('refresh.png');
	width: 16px;
	height: 16px;
}
.g740-icons-refreshrow {
	background-image: url('refreshrow.png');
	width: 16px;
	height: 16px;
}
.g740-icons-append {
	background-image: url('append.png');
	width: 16px;
	height: 16px;
}
.g740-icons-append-into {
	background-image: url('append-into.png');
	width: 16px;
	height: 16px;
}
.g740-icons-delete {
	background-image: url('delete.png');
	width: 16px;
	height: 16px;
}
.g740-icons-join {
	background-image: url('join.png');
	width: 16px;
	height: 16px;
}
.g740-icons-expand {
	background-image: url('expand.png');
	width: 16px;
	height: 16px;
}
.g740-icons-collapse {
	background-image: url('collapse.png');
	width: 16px;
	height: 16px;
}
.g740-icons-mark {
	background-image: url('mark.png');
	width: 16px;
	height: 16px;
}
.g740-icons-markclear {
	background-image: url('markclear.png');
	width: 16px;
	height: 16px;
}
.g740-icons-mark-add {
	background-image: url('mark-add.png');
	width: 16px;
	height: 16px;
}
.g740-icons-mark-remove {
	background-image: url('mark-remove.png');
	width: 16px;
	height: 16px;
}
.g740-icons-mark-off {
	background-image: url('mark-off.png');
	width: 16px;
	height: 16px;
}
.g740-icons-move {
	background-image: url('move-into.png');
	width: 16px;
	height: 16px;
}
.g740-icons-copy {
	background-image: url('copy.png');
	width: 16px;
	height: 16px;
}
.g740-icons-link {
	background-image: url('link-into.png');
	width: 16px;
	height: 16px;
}
.g740-icons-httpget {
	background-image: url('httpget.png');
	width: 16px;
	height: 16px;
}
.g740-icons-word {
	background-image: url('word.png');
	width: 16px;
	height: 16px;
}
.g740-icons-excel {
	background-image: url('excel.png');
	width: 16px;
	height: 16px;
}

.g740-icons-shift-after {
	background-image: url('shift-after.png');
	width: 16px;
	height: 16px;
}
.g740-icons-shift-before {
	background-image: url('shift-before.png');
	width: 16px;
	height: 16px;
}
.g740-icons-shift-last {
	background-image: url('shift-last.png');
	width: 16px;
	height: 16px;
}
.g740-icons-shift-first {
	background-image: url('shift-first.png');
	width: 16px;
	height: 16px;
}
.g740-icons-find {
	background-image: url('find.png');
	width: 16px;
	height: 16px;
}
.g740-icons-print {
	background-image: url('print.png');
	width: 16px;
	height: 16px;
}
.g740-icons-disconnect {
	background-image: url('disconnect.png');
	width: 16px;
	height: 16px;
}

.g740-icons-flag-blue {
	background-image: url('flag-blue.png');
	width: 16px;
	height: 16px;
}
.g740-icons-flag-green {
	background-image: url('flag-green.png');
	width: 16px;
	height: 16px;
}
.g740-icons-flag-orange {
	background-image: url('flag-orange.png');
	width: 16px;
	height: 16px;
}
.g740-icons-flag-pink {
	background-image: url('flag-pink.png');
	width: 16px;
	height: 16px;
}
.g740-icons-flag-purple {
	background-image: url('flag-purple.png');
	width: 16px;
	height: 16px;
}
.g740-icons-flag-red {
	background-image: url('flag-red.png');
	width: 16px;
	height: 16px;
}

.g740-icons-table {
	background-image: url('table.png');
	width: 16px;
	height: 16px;
}
.g740-icons-config {
	background-image: url('config.png');
	width: 16px;
	height: 16px;
}
.g740-icons-coins {
	background-image: url('coins.png');
	width: 16px;
	height: 16px;
}
.g740-icons-computer {
	background-image: url('computer.png');
	width: 16px;
	height: 16px;
}
.g740-icons-database {
	background-image: url('database.png');
	width: 16px;
	height: 16px;
}
.g740-icons-backup {
	background-image: url('backup.png');
	width: 16px;
	height: 16px;
}
.g740-icons-restore {
	background-image: url('restore.png');
	width: 16px;
	height: 16px;
}
.g740-icons-drivecd {
	background-image: url('drivecd.png');
	width: 16px;
	height: 16px;
}
.g740-icons-email {
	background-image: url('email.png');
	width: 16px;
	height: 16px;
}
.g740-icons-folder {
	background-image: url('folder.png');
	width: 16px;
	height: 16px;
}
.g740-icons-user {
	background-image: url('user.png');
	width: 16px;
	height: 16px;
}
.g740-icons-keyboard {
	background-image: url('keyboard.png');
	width: 16px;
	height: 16px;
}
.g740-icons-layers {
	background-image: url('layers.png');
	width: 16px;
	height: 16px;
}
.g740-icons-layout {
	background-image: url('layout.png');
	width: 16px;
	height: 16px;
}
.g740-icons-lorry {
	background-image: url('lorry.png');
	width: 16px;
	height: 16px;
}
.g740-icons-magnifier {
	background-image: url('magnifier.png');
	width: 16px;
	height: 16px;
}
.g740-icons-page {
	background-image: url('page.png');
	width: 16px;
	height: 16px;
}
.g740-icons-plugin {
	background-image: url('plugin.png');
	width: 16px;
	height: 16px;
}
.g740-icons-bell {
	background-image: url('bell.png');
	width: 16px;
	height: 16px;
}
.g740-icons-chart {
	background-image: url('chart.png');
	width: 16px;
	height: 16px;
}
.g740-icons-dbtable {
	background-image: url('dbtable.png');
	width: 16px;
	height: 16px;
}
.g740-icons-asterisk {
	background-image: url('asterisk.png');
	width: 16px;
	height: 16px;
}
.g740-icons-help {
	background-image: url('help.png');
	width: 16px;
	height: 16px;
}

.g740-icons-ok {
	background-image: url('ok.png');
	width: 16px;
	height: 16px;
}
.g740-icons-cancel {
	background-image: url('cancel.png');
	width: 16px;
	height: 16px;
}
.g740-icons-clear {
	background-image: url('clear.png');
	width: 16px;
	height: 16px;
}

.g740-icons-clipboard-copy {
	background-image: url('clipboard-copy.png');
	width: 16px;
	height: 16px;
}
.g740-icons-clipboard-cut {
	background-image: url('clipboard-cut.png');
	width: 16px;
	height: 16px;
}
.g740-icons-clipboard-paste {
	background-image: url('clipboard-paste.png');
	width: 16px;
	height: 16px;
}

.g740-icons-login {
	background-image: url('login.png');
	width: 128px;
	height: 128px;
}
.g740-icons-error {
	background-image: url('error.png');
	width: 128px;
	height: 128px;
}
.g740-icons-alert {
	background-image: url('alert.png');
	width: 128px;
	height: 128px;
}
.g740-icons-question {
	background-image: url('question.png');
	width: 128px;
	height: 128px;
}