.g740 .dijitToggleButton .dijitCheckBoxIcon {
	background-image: url('../images/checkmarkNoBorder.png');
}

.dj_ie6 .g740 .dijitToggleButton .dijitCheckBoxIcon {
	background-image: url('../images/checkmarkNoBorder.gif');
}

.g740 .dijitCheckBox,
.g740 .dijitCheckBoxIcon		/* inside a toggle button */	{
	background-image: url('../images/checkmark.png'); /* checkbox sprite image */
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0 2px 0 0;
	padding: 0;
}

.dj_ie6 .g740 .dijitCheckBox,
.dj_ie6 .g740 .dijitCheckBoxIcon		/* inside a toggle button */	{
	background-image: url('../images/checkmark.gif'); /* checkbox sprite image */
}

.g740 .dijitCheckBox,
.g740 .dijitToggleButton .dijitCheckBoxIcon {
	/* unchecked */
	background-position: -16px;
}

.g740 .dijitCheckBoxChecked,
.g740 .dijitToggleButtonChecked .dijitCheckBoxIcon {
	/* checked */
	background-position: 0;
}

.g740 .dijitCheckBoxDisabled {
	/* disabled */
	background-position: -48px;
}

.g740 .dijitCheckBoxCheckedDisabled {
	/* disabled but checked */
	background-position: -32px;
}

.g740 .dijitCheckBoxHover {
	/* hovering over an unchecked enabled checkbox */
	background-position: -80px;
}

.g740 .dijitCheckBoxCheckedHover {
	/* hovering over a checked enabled checkbox */
	background-position: -64px;
}
