.g740 .dijitSliderProgressBarH {
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFull.png") repeat-x top left;
}

.g740 .dijitSliderProgressBarV {
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFullVertical.png") repeat-y bottom left;
}

.g740 .dijitSliderFocused .dijitSliderProgressBarH,
.g740 .dijitSliderFocused .dijitSliderLeftBumper {
	background-image:url("../images/sliderFullFocus.png");
}

.g740 .dijitSliderFocused .dijitSliderProgressBarV,
.g740 .dijitSliderFocused .dijitSliderBottomBumper {
	background-image:url("../images/sliderFullVerticalFocus.png");
}

.g740 .dijitSliderRemainingBarV {
	border-color: #b4b4b4;
	background: #dcdcdc url("../images/sliderEmptyVertical.png") repeat-y bottom left;
}

.g740 .dijitSliderRemainingBarH {
	border-color: #b4b4b4;
	background: #dcdcdc url("../images/sliderEmpty.png") repeat-x top left;
}

.g740 .dijitSliderBar {
	border-style: solid;
	outline:1px;
}
.g740 .dijitSliderFocused .dijitSliderBar {
	border-color:#888;
}

.g740 .dijitSliderImageHandleH {
	border:0;
	width:16px;
	height:16px;
	background:url("../images/preciseSliderThumb.png") no-repeat center top;
}
.g740 .dijitSliderFocused .dijitSliderImageHandleH {
	background-image:url("../images/preciseSliderThumbFocus.png");
	#background-image:url("../images/preciseSliderThumbFocus.gif");
}

.dj_ie6 .g740 .dijitSliderImageHandleH {
	background-image:url("../images/preciseSliderThumb.gif");
}

.g740 .dijitSliderLeftBumper {
	border-left-width: 1px;
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFull.png") repeat-x top left;
}

.g740 .dijitSliderRightBumper {
	background: #dcdcdc url("../images/sliderEmpty.png") repeat-x top left;
	border-color: #b4b4b4;
	border-right-width: 1px;
}

.g740 .dijitSliderImageHandleV {
	border:0;
	width:16px;
	height:16px;
	background:url("../images/sliderThumb.png") no-repeat center center;
}

.g740 .dijitSliderFocused .dijitSliderImageHandleV {
	background-image:url("../images/sliderThumbFocus.png");
}
.dj_ie6 .g740 .dijitSliderFocused .dijitSliderImageHandleV {
	background-image:url("../images/sliderThumbFocus.gif");
}

.g740 .dijitSliderBottomBumper {
	border-bottom-width: 1px;
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFullVertical.png") repeat-y bottom left;
}

.g740 .dijitSliderTopBumper {
	background: #dcdcdc url("../images/sliderEmptyVertical.png") repeat-y top left;
	border-color: #b4b4b4;
	border-top-width: 1px;
}

.g740 .dijitSliderDecrementIconH,
.g740 .dijitSliderDecrementIconV,
.g740 .dijitSliderIncrementIconH,
.g740 .dijitSliderIncrementIconV {
	background-image: url('../images/spriteArrows.png');
	background-repeat: no-repeat;
	margin: 5px;
	height: 7px;
	width: 7px;
	font-size: 1px;
}
.dj_ie6 .g740 .dijitSliderDecrementIconH,
.dj_ie6 .g740 .dijitSliderDecrementIconV,
.dj_ie6 .g740 .dijitSliderIncrementIconH,
.dj_ie6 .g740 .dijitSliderIncrementIconV {
	background-image: url('../images/spriteArrows.gif');
}

.g740 .dijitSliderDecrementIconH {
	background-position: -7px 0;
}
.g740 .dijitSliderIncrementIconH {
	background-position: -14px 0;
}
.g740 .dijitSliderDecrementIconV {
	background-position: 0 0;
}
.g740 .dijitSliderIncrementIconV {
	background-position: -21px 0;
}

.g740 .dijitSliderButtonInner {
	visibility:hidden;
}

.g740 .dijitSliderReadOnly *,
.g740 .dijitSliderDisabled * {
	border-color: #d5d5d5 #bdbdbd #bdbdbd #d5d5d5;
	color: #bdbdbd;
}
.g740 .dijitSliderReadOnly .dijitSliderDecrementIconH,
.g740 .dijitSliderDisabled .dijitSliderDecrementIconH {
	background-position: -35px 0;
}
.g740 .dijitSliderReadOnly .dijitSliderIncrementIconH,
.g740 .dijitSliderDisabled .dijitSliderIncrementIconH {
	background-position: -42px 0;
}
.g740 .dijitSliderReadOnly .dijitSliderDecrementIconV,
.g740 .dijitSliderDisabled .dijitSliderDecrementIconV {
	background-position: -28px 0;
}
.g740 .dijitSliderReadOnly .dijitSliderIncrementIconV,
.g740 .dijitSliderDisabled .dijitSliderIncrementIconV {
	background-position: -49px 0;
}