/* подстраиваем общие элементы */
.g740 {
	font-family: Helvetica, Verdana;
	font-size: 13px;
}
.g740 textarea {
	font-family: inherit;
	font-size: inherit;
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: lightgray;
	outline: none;
}
.g740 textarea:focus {
	border-color: #d4464e;
}
.g740 input {
	font-family: inherit;
	font-size: inherit;
	outline: none;
}
.g740 .dijitTextBoxReadOnly {
	background-image: none !important;
	background-color: #F3F3F3 !important;
	color: black !important;
}


/* DnD hovered and selected node(s) */
.g740 .dojoDndItemOver {
	background-image: url(images/treeHover.png);
}
.g740 .dojoDndItemAnchor,
.g740 .dojoDndItemSelected {
	background-color: #E2EBFE;
}

/* DnD avatar-specific settings */
/* For now it uses a default set of rules. Some other DnD classes can be modified as well. */

.g740 table.dojoDndAvatar { -moz-border-radius: 0; border: 1px solid #ccc; border-collapse: collapse; background-color: #fff; font-size: 75%; color: black;}
.g740 .dojoDndAvatar td	{ border: none; }
.g740 .dojoDndAvatar tr	{ border: none; }
.g740 .dojoDndAvatarHeader td	{ height: 20px; padding: 0 0 0 21px; }
.g740 .dojoDndAvatarItem td { padding: 2px;}
.g740.dojoDndMove .dojoDndAvatarHeader	{background-color: #f58383; background-image: url(images/dndNoMove.png); background-repeat: no-repeat; background-position: 2px center;}
.g740.dojoDndCopy .dojoDndAvatarHeader	{background-color: #f58383; background-image: url(images/dndNoCopy.png); background-repeat: no-repeat; background-position: 2px center;}
.g740.dojoDndMove .dojoDndAvatarCanDrop .dojoDndAvatarHeader	{background-color: #97e68d; background-image: url(images/dndMove.png); background-repeat: no-repeat; background-position: 2px center;}
.g740.dojoDndCopy .dojoDndAvatarCanDrop .dojoDndAvatarHeader	{background-color: #97e68d; background-image: url(images/dndCopy.png); background-repeat: no-repeat; background-position: 2px center;}

.g740 .dijitIconLoading {
	background:url('images/loading.gif') no-repeat left center;
	width: 24px;
	height: 24px;
}
.g740 .dijitIconError {
	background:url('images/warning.png') no-repeat left center;
	width: 16px;
	height: 16px;
}
