.g740 .dojoxGridMasterView .dojoxGridRowSelected {
	background-color: moccasin !important;
}
.g740 .g740-grid-focused .dojoxGridMasterView .dojoxGridRowSelected {
	background-color: orange !important;
}
.g740 .g740-grid-focused .dojoxGridMasterView .dojoxGridRowEditing {
	background-color: orange !important;
}
.g740 .g740-grid-focused .dojoxGridMasterView .dojoxGridRowEditing .dojoxGridCell{
	background-color: orange !important;
}
.g740 .g740-grid-focused  .dojoxGridMasterView .dojoxGridRowSelected .dojoxGridCell.dojoxGridCellFocus {
	background-color: darkorange !important;
}
.g740 .g740-grid-focused .dojoxGridMasterView .dojoxGridRowSelected .dojoxGridCell{
	color: white;
}
.g740 .g740-grid-focused .dojoxGridMasterView .dojoxGridRowSelected .dojoxGridCell input{
	color: black;
}
.g740 .dojoxGridRowSetDisabled .dojoxGridScrollbox {
	background-color: #F3F3F3;
}
.g740 .dojoxGridScrollbox .g740-mark {
	background-color: gold !important;
}

.g740 .dojoxGrid {
	background-color: white;
	font-family: Helvetica, Verdana;
	font-size: 13px;
	border: 1px solid #F0F0F0;
}
.g740 .dojoxGrid.g740-grid-focused {
	border: 1px solid #d4464e;
}

.g740  .dojoxGrid th .dojoxGridSortNode {
	font-size: 12px !important;
}


/* master messages */

.g740 .dojoxGridMasterMessages {
	background-color: #fefefe;
}

.g740 .dojoxGridLoading, 
.g740 .dojoxGridError {
	background-position:left center;
	background-repeat: no-repeat;
	padding-left:25px;
}

.dijitRtl .g740 .dojoxGridLoading, 
.dijitRtl .g740 .dojoxGridError,
.dijitRtl .g740 .dojoxGridNoData {
	background-position:right;
	padding-right:25px;
	padding-left:0px;
}

.g740 .dojoxGridLoading {
	background-image: url('images/loading.gif');
}

.g740 .dojoxGridError {
	background-image: url('images/warning.png');
}

/* header */

.g740 .dojoxGridHeader {
	background-color:  white;
}

.g740 .dojoxGridHeader .dojoxGridCell { 
	background: none;
	background-color: white !important;
	border-width: 1px;
	padding-bottom: 0px;
	border-color: transparent #ACA899 #919191 transparent;

    color: #adadad !important;
	text-transform: uppercase;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center !important;
}


.g740 .dojoxGridHeader .dojoxGridCellFocus {
}
.g740 .dojoxGridArrowButtonChar {
	float: right;
	display: none;
}
.g740 .dojoxGridArrowButtonNode {
	/*display: block !important;*/
	padding-left: 0px;
	float: right;
	background:url("images/spriteArrows.png") no-repeat left center;
	width: 7px;
	height: 1em;
	margin: 2px 4px 0px 5px;
}
.dj_ie6 .g740 .dojoxGridArrowButtonNode {
	background-image:url("images/spriteArrows.gif");
	margin-left: 0px;
}

.g740 .dojoxGridSortUp .dojoxGridArrowButtonNode {
	background-position: -21px;
}
.dijit_a11y .g740 .dojoxGridArrowButtonNode {
	display: none !important;
}

/* content */

.g740 .dojoxGridScrollbox {
	background-color: #fefefe;
}

/* rowbar */

.g740 .dojoxGridRowbar { 
	border: none;
	background: url('../grid/images/tabEnabled_rotated.png') #e9e9e9 repeat-y right;
	border-right: 1px solid #ccc;
	padding: 0px;
}

.g740 .dojoxGridRowbarInner {
	border: none;
	border-bottom: 1px solid #ccc;
}

.g740 .dojoxGridRowbarOver {
	background: url('../grid/images/tabHover_rotated.png') #e9e9e9 repeat-y right;
}

.g740 .dojoxGridRowbarSelected {
	background: url('images/tabDisabled.png') #D8E8F9 no-repeat center;
	border-right: 1px solid #ccc;
}

/* rows */

.g740 .dojoxGridRow {
	border: none;
	background-color: white;
}

.g740 .dojoxGridRowOver {
	border-top-color: #ccc;
	border-bottom-color: #ccc;
}

.g740 .dojoxGridRowOver .dojoxGridCell {
	background-color: #60a1ea; 
	color:#fff;
}

.g740 .dojoxGridRowOver .dojoxGridCell .dijit {
	color: #000;
}

.g740 .dojoxGridRowOver .dojoxGridCell .dijitDisabled {
	color: gray;
}

.g740 .dojoxGridRowOdd {
	background-color: #f2f5f9;
}

.dijit_a11y .g740 .dojoxGridRowSelected { 
    background-color: #aec7e3;     
    border-style: solid;     
}   

/* cells */

.g740 .dojoxGridCell {
	border: 1px dotted #D5CDB5;
	border-left-color: transparent;
	border-top-color: transparent;
}

.dj_ff2 .g740 .dojoxGridCell {
	border-left-width: 0px;
	border-top-width: 0px;
}

.dj_ie6 .g740 .dojoxGridCell {
	border: 1px solid white;
	border-right: 1px solid #D5CDB5;
}

.g740 .dojoxGridCellFocus {
}

.g740 .dojoxGridCellOver {
	border: 1px dotted #a6a6a6;
}

.g740 .dojoxGridCellFocus .dojoxGridCellOver {
	border: 1px dashed darkblue !important;
}

/* editing */

/* FIXME: these colors are off! */
.g740 .dojoxGridRowEditing td {
	/* background-color: #F4FFF4; */
	background-color: #60a1ea; 
	/* padding: 0px 3px 0px 3px; */
}

.g740 .dojoxGridRow-inserting td {
	background-color: #F4FFF4;
}
.g740 .dojoxGridRow-inflight td {
	background-color: #F2F7B7;
}
.g740 .dojoxGridRow-error td {
	background-color: #F8B8B6;
}

/* Drag and Drop */

.g740 .dojoxGridRowTable .dojoDndHorizontal th.dojoDndItem {
	padding: 3px;
}
.g740 .dojoxGrid .dojoDndItemBefore {
	border-left-color: #3559ac;
}
.g740 .dojoxGrid .dojoDndItemAfter {
	border-right-color: #3559ac;
}

/* Tree Grid */
.g740 .dojoxGridExpando {
	float: left;
	height: 18px;
	width: 18px;
	text-align: center;
	margin-top: -3px;
}
.dijitRtl .g740 .dojoxGridExpando {
	float: right;
}
.g740 .dojoxGridExpandoCell {
	padding-top: 5px;
}
.g740 .dojoxGridExpandoNode {
	height: 18px;
	background-image: url('images/treeExpand_plus.gif');
}
.g740 .dojoxGridExpandoOpened .dojoxGridExpandoNode {
	background-image: url('images/treeExpand_minus.gif');		
}
.g740 .dojoxGridExpandoLoading .dojoxGridExpandoNode {
	background-image: url('images/treeExpand_loading.gif');		
}
.g740 .dojoxGridTreeModel .dojoxGridNoChildren .dojoxGridExpando {
	visibility: visible !important;
	width: 18px !important;
}
.g740 .dojoxGridTreeModel .dojoxGridNoChildren .dojoxGridExpandoNode {
	background-image: url('images/treeExpand_leaf.gif');
	background-position: -3px;
}
.g740 .dojoxGridExpandoNodeInner {
	visibility: hidden;
}
.dijit_a11y .dojoxGridExpandoNodeInner {
	visibility: visible;
}
		
.g740 .dojoxGridSummaryRow .dojoxGridCell {
	border-top-color: #999;
	border-top-style: solid;
}
.g740 .dojoxGridSpacerCell,
.g740 .dojoxGridExpandoCell,
.g740 .dojoxGridSummaryRow .dojoxGridSpacerCell {
	border-color: transparent;
	border-right-color: #D5CDB5;
}
.g740 .dojoxGridSummaryRow .dojoxGridTotalCell,
.g740 .dojoxGridRowCollapsed .dojoxGridExpandoCell,
.g740 .dojoxGridTreeModel .dojoxGridExpandoCell {
	border-bottom-color: #D5CDB5;
}
.g740 .dojoxGridSubRowAlt {
	background-color: #F8F8F8;
}
.g740 .dojoxGridRowOdd .dojoxGridSubRowAlt {
	background-color: #EDEFF3;
}
