/* Make unselected content portion "look" more like a text box and less like a button */
.g740 .dijitSelectError .dijitButtonContents,
.g740 .dijitSelectHover .dijitArrowButton,
.g740 .dijitSelectActive .dijitArrowButton,
.g740 .dijitSelectOpened .dijitArrowButton,
.g740 .dijitSelectDisabled .dijitArrowButton,
.g740 .dijitSelectReadOnly .dijitArrowButton {
	background: transparent none;
}
.g740 .dijitSelect .dijitArrowButton {
	background: #fff url("../images/buttonEnabled.png") repeat-x bottom left;
	border-width: 0;
}

/* Mirror DropDownButton */
.g740 .dijitSelectDisabled,
.g740 .dijitSelectDisabled TD {
	border-color: #d5d5d5 #bdbdbd #bdbdbd #d5d5d5 !important;
	background:#e4e4e4 url("../images/buttonDisabled.png") top repeat-x;
}
.dj_ie .g740 .dijitSelectDisabled TD * {
	filter: gray() alpha(opacity=50);
}

.g740 .dijitSelectHover,
.g740 .dijitSelectHover TD {
	border-color:#a5beda #5c7590 #5c7590 #a5beda !important;
	color:#243C5F;
	background:#fcfdff url("../images/buttonHover.png") repeat-x bottom;
}

.g740 .dijitSelectActive,
.g740 .dijitSelectOpened,
.g740 .dijitSelectActive TD,
.g740 .dijitSelectOpened TD {
	border-color:#366dba !important;
	background: #ededed url("../images/buttonActive.png") bottom repeat-x;
}

/* Make the menu look more combobox-like */
.g740 .dijitSelectMenu td {
	padding: 0;
}
.g740 .dijitSelectMenu .dijitMenuItemLabel,
.g740 .dijitSelectMenu .dijitMenuArrowCell {
	padding: 0.1em 0.2em;
}
