.g740 .dijitMenu,
.g740 .dijitMenuBar {
	border: 1px solid #7eabcd;
	margin: 0;
	padding: 0;
	background-color: #f7f7f7;
}

.g740 .dijitBorderContainer .dijitMenuBar {
	border:1px solid #ccc;
}

.g740 .dijitMenuItem {
	font-family: sans-serif;
	margin: 0;
}

.g740 .dijitMenuItem {
	padding: 4px 5px;
}

.g740 .dijitMenuPreviousButton, .g740 .dijitMenuNextButton {
	font-style: italic;
}
.g740 .dijitMenuItem td {
	padding: 2px;
}

.g740 .dijitMenuPassive .dijitMenuItemHover,
.g740 .dijitComboBoxMenu .dijitMenuItemHover,
.g740 .dijitMenuItemSelected {
	background-color: #3559ac;
	color:#fff;
}

.g740 .dijitMenuItemIcon {
	width: 16px;
	height: 16px;
}

.g740 .dijitMenuExpand {
	/* arrow to indicate this MenuItem opens a sub-menu */
	width: 7px;
	height: 7px;
	background-image: url('images/spriteArrows.png');
	background-position: -14px 0;
}
.dj_ie6 .g740 .dijitMenuExpand {
	background-image: url('images/spriteArrows.gif');
}

/* separator can be two pixels -- set border of either one to 0 to have only one */
.g740 .dijitMenuSeparatorTop {
	border-bottom: 1px solid #9b9b9b;
}

.g740 .dijitMenuSeparatorBottom {
	border-top: 1px solid #e8e8e8;
}

/* the checked menu item */
.g740 .dijitCheckedMenuItem .dijitMenuItemIcon,
.g740 .dijitRadioMenuItem .dijitMenuItemIcon {
	background-image: url('images/checkmark.png');
	background-position: -80px;
}

.dj_ie6 .g740 .dijitCheckedMenuItem .dijitMenuItemIcon,
.dj_ie6 .g740 .dijitRadioMenuItem .dijitMenuItemIcon {
	background-image: url('images/checkmark.gif');
}

.g740 .dijitCheckedMenuItemChecked .dijitMenuItemIcon {
	background-position: -64px;
}

.g740 .dijitRadioMenuItem .dijitMenuItemIcon {
	background-position: -110px; /* 15px * 8 */
}
.g740 .dijitRadioMenuItemChecked .dijitMenuItemIcon {
	background-position: -95px;	/* 15px * 7 */
}