.g740-icons-default {
	background-image: url('default.png');
}
.g740-icons-save {
	background-image: url('save.png');
}
.g740-icons-undo {
	background-image: url('undo.png');
}
.g740-icons-refresh {
	background-image: url('refresh.png');
}
.g740-icons-refreshrow {
	background-image: url('refreshrow.png');
}
.g740-icons-append {
	background-image: url('append.png');
}
.g740-icons-append-into {
	background-image: url('append-into.png');
}
.g740-icons-delete {
	background-image: url('delete.png');
}
.g740-icons-join {
	background-image: url('join.png');
}
.g740-icons-expand {
	background-image: url('expand.png');
}
.g740-icons-collapse {
	background-image: url('collapse.png');
}
.g740-icons-mark {
	background-image: url('mark.png');
}
.g740-icons-unmarkall {
	background-image: url('unmarkall.png');
}
.g740-icons-move {
	background-image: url('move-into.png');
}
.g740-icons-copy {
	background-image: url('copy.png');
}
.g740-icons-link {
	background-image: url('link-into.png');
}
.g740-icons-httpget {
	background-image: url('httpget.png');
}
.g740-icons-httpput {
	background-image: url('httpput.png');
}
.g740-icons-shift-after {
	background-image: url('shift-after.png');
}
.g740-icons-shift-before {
	background-image: url('shift-before.png');
}
.g740-icons-shift-last {
	background-image: url('shift-last.png');
}
.g740-icons-shift-first {
	background-image: url('shift-first.png');
}
.g740-icons-find {
	background-image: url('find.png');
}
.g740-icons-word {
	background-image: url('word.png');
}
.g740-icons-excel {
	background-image: url('excel.png');
}
.g740-icons-print {
	background-image: url('print.png');
}
.g740-icons-disconnect {
	background-image: url('disconnect.png');
}
.g740-icons-table {
	background-image: url('table.png');
}
.g740-icons-config {
	background-image: url('config.png');
}
.g740-icons-computer {
	background-image: url('computer.png');
}
.g740-icons-database {
	background-image: url('database.png');
}
.g740-icons-backup {
	background-image: url('backup.png');
}
.g740-icons-restore {
	background-image: url('restore.png');
}
.g740-icons-email {
	background-image: url('email.png');
}
.g740-icons-folder {
	background-image: url('folder.png');
}
.g740-icons-user {
	background-image: url('user.png');
}
.g740-icons-userrole {
	background-image: url('userrole.png');
}
.g740-icons-usergroup {
	background-image: url('usergroup.png');
}
.g740-icons-page {
	background-image: url('page.png');
}
.g740-icons-dbtable {
	background-image: url('dbtable.png');
}
.g740-icons-dbfield {
	background-image: url('dbfield.png');
}
.g740-icons-help {
	background-image: url('help.png');
}
.g740-icons-ok {
	background-image: url('ok.png');
}
.g740-icons-cancel {
	background-image: url('cancel.png');
}
.g740-icons-go {
	background-image: url('go.png');
}
.g740-icons-menu {
	background-image: url('menu.png');
}

.g740-icons-clipboard-copy {
	background-image: url('clipboard-copy.png');
}
.g740-icons-clipboard-cut {
	background-image: url('clipboard-cut.png');
}
.g740-icons-clipboard-paste {
	background-image: url('clipboard-paste.png');
}
.g740-icons-check-on {
	background-image: url('check-on.png');
}
.g740-icons-check-off {
	background-image: url('check-off.png');
}


.g740-icons-login-128  {
	background-image: url('dialog/login-128.png');
	width: 128px;
	height: 128px;
}
.g740-icons-error-128  {
	background-image: url('dialog/error-128.png');
	width: 128px;
	height: 128px;
}
.g740-icons-alert-128  {
	background-image: url('dialog/alert-128.png');
	width: 128px;
	height: 128px;
}
.g740-icons-question-128  {
	background-image: url('dialog/question-128.png');
	width: 128px;
	height: 128px;
}