#Закрываем просмотр оглавления каталога и выполнение CGI скриптов
Options -Indexes -ExecCGI
#Открываем файлы на просмотр без авторизации
order deny,allow
allow from all

#Отключаем кэширование CSS
<FilesMatch "\.(css)$">
Header set Cache-Control "no-store, no-cache, must-revalidate"
</FilesMatch>

#Отключаем механизм переадресации
RewriteEngine off