.g740-color-white {
	background-color: white !important;
	color: black !important;
}
.g740-color-white-readOnly {
	background-color: white !important;
	color: #9C9C9C !important;
}

.g740-color-gray {
	background-color: #efefef !important;
	color: black !important;
}
.g740-color-gray-readOnly {
	background-color: #efefef !important;
	color: #9C9C9C !important;
}

.g740-color-yellow {
	background-color: #FCFBE3 !important;
	color: black !important;
}
.g740-color-yellow-readOnly {
	background-color: #FCFBE3 !important;
	color: #9C9C9C !important;
}

.g740-color-green {
	background-color: #E2EFDA !important;
	color: black !important;
}
.g740-color-green-readOnly {
	background-color: #E2EFDA !important;
	color: #9C9C9C !important;
}


.g740-color-cyan {
	background-color: #dcffff !important;
	color: black !important;
}
.g740-color-cyan-readOnly {
	background-color: #dcffff !important;
	color: #9C9C9C !important;
}


.g740-color-red {
	background-color: #ffe0e0 !important;
	color: black !important;
}
.g740-color-red-readOnly {
	background-color: #ffe0e0 !important;
	color: #9C9C9C !important;
}

.g740-color-blue {
	background-color: #e0e0ff !important;
	color: black !important;
}
.g740-color-blue-readOnly {
	background-color: #e0e0ff !important;
	color: #9C9C9C !important;
}

/*--------------------------------------------------------------------
app-color-black
--------------------------------------------------------------------*/
/* MenuBar è Menu*/
.g740.app-color-black .dijitMenuBar {
	background-color: #6e6e6e;
	border-color: #6e6e6e !important;
	color: white;
}
.g740.app-color-black .dijitMenuBar .dijitMenuItemHover {
	background-color: #535353;
	color: white;
}
.g740.app-color-black .dijitMenuBar .dijitMenuItemActive {
	background-color: #535353;
	color: white;
}
.g740.app-color-black .dijitMenuBar .dijitMenuItemSelected {
	background-color: #535353;
	color: white;
}
.g740.app-color-black .dijitMenuBar .dijitPopupMenuItemFocused {
	background-color: #535353;
	color: white;
}

.g740.app-color-black .dijitMenuItemSelected {
	background-color: #535353;
	color: white;
}

/* g740.Dialog */
.g740.app-color-black .g740-dialog .g740-dialog-title {
	font-family: sans-serif !important;
	font-size: 14px !important;
	font-weight: normal !important;
	background-image: none;
	background-color: #6e6e6e;
	color: white;
}
.g740.app-color-black .g740-dialog .dijitDialogCloseIcon {
	background-image: url('icons/close.png') !important;
}

/* g740._ListAbstract */
.g740.app-color-black .g740-list .g740-list-items .g740-list-item.selected{
    background-color: #6e6e6e;
	color: white;
}

/*--------------------------------------------------------------------
app-color-red
--------------------------------------------------------------------*/
/* MenuBar è Menu*/
.g740.app-color-red .dijitMenuBar {
	background-color: #d4464e;
	border-color: #d4464e !important;
	color: white;
}
.g740.app-color-red .dijitMenuBar .dijitMenuItemHover {
	background-color: #e5525b;
	color: white;
}
.g740.app-color-red .dijitMenuBar .dijitMenuItemActive {
	background-color: #e5525b;
	color: white;
}
.g740.app-color-red .dijitMenuBar .dijitMenuItemSelected {
	background-color: #e5525b;
	color: white;
}
.g740.app-color-red .dijitMenuBar .dijitPopupMenuItemFocused {
	background-color: #e5525b;
	color: white;
}

.g740.app-color-red .dijitMenuItemSelected {
	background-color: #e5525b;
	color: white;
}

/* g740.Dialog */
.g740.app-color-red .g740-dialog .g740-dialog-title {
	font-family: sans-serif !important;
	font-size: 14px !important;
	font-weight: normal !important;
	background-image: none;
	background-color: #d4464e;
	color: white;
}
.g740.app-color-red .g740-dialog .dijitDialogCloseIcon {
	background-image: url('icons/close.png') !important;
}

/* g740._ListAbstract */
.g740.app-color-red .g740-list .g740-list-items .g740-list-item.selected{
    background-color: #e5525b;
	color: white;
}
