/* CSS общего назначения */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

/* Вычисление размеров метки */
.g740-size-label {
	position: absolute;
	left: -100px;
	top: -100px;
	display: inline-block;
	font-size: 12px;
	opacity: 0;
}

/* Пришло от Лёши */
.g740 .dijitTabContainerTop-tabs .dijitTabChecked {
    border-bottom-color: #f3f3f3;
}
.g740 .dijitToolbar {
	padding-left: 1px;
}
.dijitToolbar .dijitToggleButton, .dijitToolbar .dijitButton, .dijitToolbar .dijitDropDownButton, .dijitToolbar .dijitComboButton {
    margin: 1px 0px 1px 0px;
}
.g740 .dijitButtonText {
    text-align: center;
    padding: 0.2em;
}
.dijitToolbar .dijitButtonContents {
    padding: 0px 2px;
}



/* Диалог */
.g740-dialog {
}
.g740-dialog .g740-dialog-title {
	height: 22px !important;
	line-height: 22px !important;
	font-size: 12px !important;
}

.g740-dialog  .g740-dialog-lockscreen{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: white;
}
.g740-dialog  .g740-dialog-body{
	display: block;
	position: absolute;
	background-color: white;
	-webkit-box-shadow: 6px 10px 5px -1px rgba(0,0,0,0.36);
	-moz-box-shadow: 6px 10px 5px -1px rgba(0,0,0,0.36);
	box-shadow: 6px 10px 5px -1px rgba(0,0,0,0.36);
	border-style: solid !important;
	border-color: black !important;
	border-width: 1px !important;
}
.g740-dialog .g740-dialogconfirm-content {
	margin-left: 1px;
	margin-right: 1px;
	padding: 5px;
	border-style: solid;
	border-color: lightgray;
	border-width: 1px;
}

/* Убираем пустые белые блоки, разделяющие секции внутри BorderContainer */
.dijitGutterH {
	height: 1px !important;
	width: 0px !important;
}
.dijitGutterV {
	width: 1px !important;
	height: 0px !important;
}

/* Убираем отступы в диалоге */
.dijitDialogPaneContent  {
	padding: 0px !important;
}
/* Делаем единую технологию отображения для иконок у заблокированных кнопок */
.dijitButtonDisabled .dijitIcon {
  -webkit-filter: grayscale(100%) !important;
  -moz-filter: grayscale(100%) !important;
  -ms-filter: grayscale(100%) !important;
  -o-filter: grayscale(100%) !important;
  filter: grayscale(100%) !important;
  filter: gray !important;
  
  opacity: 0.5;
}

/* grid */
/* Высота пустой строчки Grid */
.dojoxGridRowTable {
	min-height: 25px !important;
	height: 25px;
}
.g740-grid-check {
	display: block;
	width: 16px;
	height: 16px;
	padding: 0px;
	margin:0 auto;
	min-width: 16px;
	background-repeat: no-repeat;
	cursor: pointer;
}
.g740-grid-check-on {
	background-image: url('icons/check-on.png');
}
.g740-grid-check-off {
	background-image: url('icons/check-off.png');
}
.g740-grid-icons {
	display: block;
	padding: 0px;
	margin:0 auto;
	background-repeat: no-repeat;
	cursor: pointer;
}

/* tree */
.g740-tree {
	overflow-x: hidden;
}
.dijitTreeRowSelected  {
	background-color: moccasin !important;
}
.dijitTreeRowSelected  .dijitTreeLabel {
	background-color: moccasin !important;
}

.g740-tree-focused .dijitTreeRowSelected  {
	background-color: orange !important;
}
.g740-tree-focused .dijitTreeRowSelected  .dijitTreeLabel {
	background-color: orange !important;
	color: White !important;
}
.dijitTreeContainer .g740-mark {
	background-color: gold !important;
}
.dijitTreeContainer .g740-mark.dijitTreeRowSelected{
	background-color: gold !important;
}
.g740 .dijitTreeLabel:focus {
	outline-color: orange !important;
}

.btnfieldeditor {
	width: 23px;
	height: 19px;
	background-color: #F6F6F6;
	background-image: url('icons/btnfieldeditor.png');
	background-repeat: norepeat;
	cursor: pointer;
}
.btnfieldeditor:hover {
	background-color: #E5E5E5;
}
.btnfieldclear {
	width: 23px;
	height: 19px;
	background-color: #F6F6F6;
	background-image: url('icons/btnfieldclear.png');
	background-repeat: norepeat;
	cursor: pointer;
}
.btnfieldclear:hover {
	background-color: #E5E5E5;
}

.g740-widget-text .btnfieldeditor{
	margin-left:-1px;
}

/* g740.FieldEditor.RefList */
.g740-widget-reflist {
	margin: 0px;
	padding: 0px;
	margin-bottom: 1px;
	position: relative;
}
.g740-widget-reflist .g740-widget-table {
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
	padding-right:5px;
}
.g740-widget-reflist .g740-focused {
	position: absolute;
	height: 0px;
	width: 0px;
	z-index: -1;
}
.g740-widget-reflist .g740-items {
	background-color: white;
	cursor: pointer;
	overflow-y: auto;
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: lightgray;
}
.g740-widget-reflist.g740-widget-focused .g740-items {
	border-color: #d4464e;
}
.g740-widget-reflist .g740-items.dijitTextBoxReadOnly {
	background-image: none;
	background-color: #F3F3F3;
	color: black;
}

.g740-widget-listcheckbox {
	overflow-y: auto;
}
.g740-widget-reflist .btnfieldeditor{
	margin-left:-1px;
}
.g740-widget-reflist .btnfieldclear{
	margin-left:-1px;
	margin-top:-1px
}

/* g740._ListAbstract */
.g740-list {
	position: relative;
}
.g740-list .g740-list-div-input {
    padding: 2px 6px 2px 2px;
}
.g740-list .g740-list-input{
	width: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: lightgray;
}
.g740-list .g740-list-input:focus {
	border-color: #d4464e;
}
.g740-list .g740-list-items{
	overflow-y: auto;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 0px;
}
.g740-list .g740-list-items .g740-list-item{
	font-size: 12px;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	text-align: center;
}
.g740-list .g740-list-items .g740-list-item span{
	width: 95%;
	text-align: left;
	display: inline-block;
    overflow: hidden;
	line-height: 16px;
}
.g740-list .g740-list-items .g740-list-item.selected{
    background-color: orange;
	color: white;
}


/* g740.FieldEditor.Icons, g740.FieldEditor.Check */
.g740-widget-icons {
	height: 17px;
	position: relative;
	overflow: hidden;
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
}
.g740-widget-icons.g740-readonly{
	opacity: 0.4;
}
.g740-widget-icons.g740-widget-focused {
	border-color: #d4464e;
}
.g740-widget-icons .g740-focused {
	position: absolute;
	height: 0px;
	width: 0px;
	top: 0px;
	left: 0px;
	opacity: 0;
}
.g740-widget-icons .g740-widget-icons-icon {
	position: absolute;
	left: 0px;
	top: 1px;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}
.g740-widget-icons .check-on {
	background-image: url('icons/check-on.png');
}
.g740-widget-icons .check-off {
	background-image: url('icons/check-off.png');
}
.g740-widget-icons .g740-widget-icons-label {
	position: absolute;
	left: 20px;
	top: 1px;
	line-height: 14px;
	font-size: 12px;
}

/* g740.FieldEditor.RadioGroupBox */
.g740-radiogroupbox{
}
.g740-radiogroupbox .g740-radio-item {
	height: 17px;
	position: relative;
	overflow: hidden;
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
}
.g740-radiogroupbox .g740-radio-item.g740-widget-focused {
	border-color: #d4464e;
}
.g740-radiogroupbox.g740-readonly{
	opacity: 0.4;
}
.g740-radiogroupbox .g740-focused {
	position: absolute;
	height: 0px;
	width: 0px;
	top: 0px;
	left: 0px;
	opacity: 0;
}
.g740-radiogroupbox .g740-radio-icon {
	position: absolute;
	left: 0px;
	top: 1px;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}
.g740-radiogroupbox .check-off  .g740-radio-icon{
	background-image: url('icons/radiobutton-off.png');
	width: 16px;
	height: 16px;
}
.g740-radiogroupbox .check-on .g740-radio-icon{
	background-image: url('icons/radiobutton-on.png');
	width: 16px;
	height: 16px;
}
.g740-radiogroupbox .g740-radio-label {
	position: absolute;
	left: 20px;
	top: 1px;
	line-height: 14px;
	font-size: 12px;
	cursor: pointer;
}


/* g740.Memo, g740.TextBox, g740.ComboBox */
.g740-widget-text {
	margin: 0px;
	padding: 0px;
	margin-bottom: 1px;
}
.g740-widget-text .g740-widget-table {
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
	/*padding-right:5px;*/
}
.g740-widget-text .g740-widget-input {
	box-sizing: border-box; 
	border-width: 1px;
	border-style: solid;
	border-color: lightgray;
	height:19px;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
.g740-widget-text .g740-widget-input:focus {
	border-color: #d4464e;
}
.g740-combobox .g740-widget-input {
	border-right:0px; 
}

.g740-widget-text .g740-widget-textarea {
	margin: 0px;
	padding: 0px;
	width:100%;
	height:100%;
	resize:none;
}
.g740-widget-text .g740-widget-button {
	margin:0px;
	padding:0px;
	height:20px;
	width:22px;
}

/* panel memo */
.g740-panel-memo {
	overflow: hidden;
	margin: 2px;
}
.g740-panel-memo .g740-textarea{
	margin: 0px;
	padding: 0px;
	width:100%;
	height:100%;
	resize:none;
}
.g740-panel-memo .btn {
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	left: 1px;
	bottom: 1px;
	opacity: 0.1;
	background-repeat: no-repeat;
	background-image: url('icons/btnfieldexpand.png');
	cursor: pointer;
	background-color: #F6F6F6;
}
.g740-panel-memo:hover .btn {
	opacity: 1;
}

/* PanelTitle */
.g74-paneltitle {
	font-size: 12px;
	font-weight: normal;

	background-color: #F3F3F3;
	padding: 2px 2px 2px 8px;
	border-width: 0px !important;
	line-height: 14px !important;
	height: 15px !important;
	border-top-width: 0px !important;
	border-bottom-width: 1px !important;
	border-style: solid !important;
	border-color: lightgray !important;
	margin-bottom: 1px;
}

/* FieldContainer */
.g740-fieldcontainer {
	position: relative;
	display: inline-block;
}
.g740-fieldcontainer .g740-fieldcontainer-label {
	position: absolute;
	left: 0px;
	top: 0px;
	display: inline-block;
	overflow: hidden;
	font-size: 12px;
	white-space: nowrap;
}
.g740-fieldcontainer .g740-fieldcontainer-field {
	position: absolute;
	left: 0px;
	top: 0px;
	display: inline-block;
}


/* FieldsSimple */
.g740-fieldssimple {
	overflow: hidden;
}
.g740-fieldssimple .g740-fieldssimple-table {
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.g740-fieldssimple .g740-fieldssimple-td-title {
	padding: 0px;
	margin: 0px;
	padding-bottom:5px;
}
.g740-fieldssimple .g740-fieldssimple-td-caption {
	font-size: 12px;
	text-align: right;
	padding-right: 5px;
	padding-left: 2px;
	white-space: nowrap;
	word-wrap: normal;
	width: 5%;
}
.g740-fieldssimple .g740-fieldssimple-td-value {
	padding-right: 2px;
}

/* FieldsMultiline */
.g740-fieldsmultiline {
	box-sizing:border-box;
}
.g740-fieldsmultiline .g740-fieldsmultiline-body {
	position: relative;
	height: 5px;
}

/* HtmlFields */
.g740-html-fields {
    overflow: auto;
}

.g740-html-label {
    margin-left: 4px;
    margin-right: 4px;
}

.g740-html-simplepwner {
}


/* Properties */
.g740-properties {
	overflow: auto;
}
.g740-properties .g740-properties-table {
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.g740-properties .g740-properties-td-title {
	padding: 0px;
	margin: 0px;
	padding-bottom:5px;
}
.g740-properties .g740-properties-td-caption {
    font-size1: 0.85em;
    font-family1: Geneva,Arial,Helvetica,sans-serif;
	text-align: right;
	padding-right: 5px;
	padding-left: 2px;
	white-space: nowrap;
	word-wrap: normal;
	width: 5%;
}
.g740-properties .g740-properties-td-value {
	padding-right: 2px;
}

.g740-properties .g740-properties-td-unit {
	padding-right: 2px;
	width: 5px;
}

/* Paginator */
.g740-paginator {
	background-color: #f3f3f3;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	border-top-color: lightgray !important;
	border-top-style: solid !important;
	border-top-width: 1px !important;
}
.g740-paginator .paginator-center{
	display: inline-block;
}
.g740-paginator .btn{
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	cursor: pointer;
}
.g740-paginator .btn:hover{
	background-color: #E5E5E5;
}
.g740-paginator .btn.disabled{
	opacity: 0.3;
}
.g740-paginator .btn-first{
	float: left;
	background-image: url('icons/paginator-first.png');
}
.g740-paginator .btn-prev{
	float: left;
	background-image: url('icons/paginator-prev.png');
}
.g740-paginator .btn-next{
	float: left;
	background-image: url('icons/paginator-next.png');
}
.g740-paginator .btn-last{
	float: left;
	background-image: url('icons/paginator-last.png');
}

.g740-paginator .pages{
	display: inline-block;
	float: left;
}
.g740-paginator .pages .item {
	display: inline-block;
	float: left;
	min-width: 30px;
	line-height: 16px;
	cursor: pointer;
}
.g740-paginator .pages .item.current {
	border-style: solid;
	border-color: #869CBF;
	border-width: 1px;
	background-color: #E5E5E5;
}


/* DialogLogin */
.g740-dialoglogin-table {
	width: 100%;
}
.g740-dialoglogin-table td {
	padding-bottom: 5px;
}