/* ContentPane */

.g740 .dijitContentPane {
	padding: 0;
}

/* nested layouts */
.g740 .dijitTabContainerTop-dijitContentPane,
.g740 .dijitTabContainerLeft-dijitContentPane,
.g740 .dijitTabContainerBottom-dijitContentPane,
.g740 .dijitTabContainerRight-dijitContentPane,
.g740 .dijitAccordionContainer-dijitContentPane {
	background-color: #fff;
	padding: 5px;
}

.g740 .dijitSplitContainer-dijitContentPane,
.g740 .dijitBorderContainer-dijitContentPane {
	background-color: #fff;		/* override background-color setting on parent .dijitBorderContainer */
	padding: 5px;
}