#Закрываем просмотр оглавления каталога и выполнение CGI скриптов (не поддерживается хостингом, поэтому закрыто)
#Options -Indexes
#Options -ExecCGI

#Открываем файлы на просмотр без авторизации
order deny,allow
allow from all

#Отключаем механизм переадресации
RewriteEngine off