/* выдвижная панель */
.g740expander-panel {
}
.g740expander-panel.expanded {
}
.g740expander-panel .g740expander-lockscreen{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	cursor: pointer;

	background-color: lightgray;
	z-index:9999;
	opacity:0;
	
}
.g740expander-panel.expanded .g740expander-lockscreen{
	position: fixed;
	z-index:0;
}

.g740expander-panel .g740expander-body{
	position: absolute;
	background-color: white;
	white-space: nowrap;
	overflow: hidden;
}
.g740expander-panel.region-left .g740expander-body{
	height: 100%;
	left: 0px;
}
.g740expander-panel.region-right .g740expander-body{
	height: 100%;
	right: 0px;
}
.g740expander-panel.region-top .g740expander-body{
	width: 100%;
	top: 0px;
}
.g740expander-panel.region-bottom .g740expander-body{
	width: 100%;
	bottom: 0px;
	position: relative;
}

.g740expander-panel .g740expander-body .g740expander-bodypanel {
	height: 100%;
}

.g740expander-panel.expanded .g740expander-body{
	background-color: white;
	z-index:1;
	position: fixed;
}
.g740expander-panel.region-left.expanded .g740expander-body{
	box-shadow:3px 3px 4px 1px rgba(0,0,0,0.47);
	-webkit-box-shadow:3px 3px 4px 1px rgba(0,0,0,0.47);
	-moz-box-shadow:3px 3px 4px 1px rgba(0,0,0,0.47);
}
.g740expander-panel.region-right.expanded .g740expander-body{
	box-shadow:-3px 3px 4px 1px rgba(0,0,0,0.47);
	-webkit-box-shadow:-3px 3px 4px 1px rgba(0,0,0,0.47);
	-moz-box-shadow:-3px 3px 4px 1px rgba(0,0,0,0.47);
}
.g740expander-panel.region-top.expanded .g740expander-body{
	box-shadow:3px 3px 4px 1px rgba(0,0,0,0.47);
	-webkit-box-shadow:3px 3px 4px 1px rgba(0,0,0,0.47);
	-moz-box-shadow:3px 3px 4px 1px rgba(0,0,0,0.47);
}
.g740expander-panel.region-bottom.expanded .g740expander-body{
	box-shadow:-3px 3px 4px 1px rgba(0,0,0,0.47);
	-webkit-box-shadow:-3px 3px 4px 1px rgba(0,0,0,0.47);
	-moz-box-shadow:-3px 3px 4px 1px rgba(0,0,0,0.47);
}
